.main-bg {
  /* background-image : url('./img/bg.png'); */
  height : 400px;
  background-size: cover;
  background-position: center;
  display : block;
}

.shoes-img {
  width: 80%;
}

.pic-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left : 60px;
}